.carHomec{
    font-size: 150px;
    margin-top: 5px;
}

h1{
    margin-top: 0;
}

.last-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.chipi {
    padding-top: 20%;
  }