<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Viaje Actual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let v of filteredViajes">
      <ion-label>
        <ion-label>Coste: {{v.coste}}</ion-label>
        <ion-label>Destino: {{v.destino}}</ion-label>
        <ion-label>Pasajeros: {{v.pasajeros}}</ion-label>
        <ion-label>Patente: {{v.patente}}</ion-label>
        <ion-label>Hora de salida: {{v.salida}}</ion-label>
      </ion-label>
      <ion-button   color="dark" slot="end" size="small" shape="round"
      (click)="presentActionSheet(v)" >
        Cancelar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
