<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content [fullscreen]="true">
    <ion-card class="ion-margin">
      <ion-card-header>
        <ion-card-subtitle>Modificar Viaje</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre del Lugar</ion-label>
          <ion-input placeholder="Coronel" [(ngModel)]="nombreLugar"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Coste</ion-label>
          <ion-input placeholder="1000$" [(ngModel)]="coste"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Hora de Salida</ion-label>
          <ion-input placeholder="10:30" [(ngModel)]="horaSalida"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Asientos</ion-label>
          <ion-input placeholder="4" [(ngModel)]="asientos"></ion-input>
        </ion-item>
  
        <ion-button class="ion-padding" color="success" expand="full" shape="round" [routerLink]="['/main/home']">
          Guardar Cambios
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-button color="danger" expand="block" shape="round" class="ion-margin-top last-button" [routerLink]="['/main/home-c']" >
    Volver
  </ion-button>

</ion-content>
