<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pasaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button color="success" expand="block" shape="round" class="ion-margin-top lastt-button" [routerLink]="['/main/home']" >
    Confirmar
  </ion-button>

  <ion-button color="danger" expand="block" shape="round" class="ion-margin-top last-button" [routerLink]="['/main/home-p']" >
    Volver
  </ion-button>

</ion-content>
