<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Coronel</ion-label>
        <ion-label>Coste: 1000$</ion-label>
        <ion-label>Salida: 10:30</ion-label>        
      </ion-label>
      <ion-button color="dark" slot="end" size="small"  shape="round" [routerLink]="['/main/pasaje']">
        Visualizar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-label>Coronel</ion-label>
        <ion-label>Coste: 1500$</ion-label>
        <ion-label>Salida: 12:30</ion-label>        
      </ion-label>
      <ion-button color="dark" slot="end" size="small"  shape="round" [routerLink]="['/main/pasaje']">
        Visualizar
      </ion-button>
    </ion-item>
  </ion-list>
  
  <ion-button color="danger" expand="block" shape="round" class="ion-margin-top last-button" [routerLink]="['/main/home-c']" >
    Volver
 </ion-button>

</ion-content>