<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Programar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)=" submit()" (keypress.enter)="submit()">
      <!-- Patente -->
      <app-custom-input autocomplete="patente" icon="document-text-outline" [control]="form.controls.patente"
        type="text" label="Patente">
      </app-custom-input>
      <div class="validators" *ngIf="form.controls.patente.errors && form.controls.patente.touched">
        <div *ngIf="form.controls.patente.errors?.['required']">Ingrese su patente</div>
        <div *ngIf="form.controls.patente.errors?.['minlenght']">La Patente tiene que tener 6 caracteres</div>
      </div>

      <!-- Salida -->
      <ion-item lines="full" style="border: 1px solid #ccc; border-radius: 15px; padding: 10px; display: flex; align-items: center;">
        <ion-icon color="primary" class="end" name="time-outline"></ion-icon>
        <h5 style="margin-left: 8px;">Hora de salida</h5>
        <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
          <ion-datetime presentation="time" formControlName="salida"></ion-datetime>
        </div>
      </ion-item>
      <div class="validators" *ngIf="form.controls.salida.errors && form.controls.salida.touched">
        <div *ngIf="form.controls.salida.errors?.['required']">Ingrese una hora</div>
      </div>
      

      <!-- destino -->
      <app-custom-input [control]="form.controls.destino" icon="map-outline" type="text" label="Destino">>
      </app-custom-input>
      <div class="validators" *ngIf="form.controls.destino.errors && form.controls.destino.touched">
        <div *ngIf="form.controls.destino.errors?.['required']">Ingrese una contraseña</div>
      </div>

      <!-- Coste -->
      <app-custom-input [control]="form.controls.coste" icon="cash-outline" type="text" label="Coste">>
      </app-custom-input>
      <div class="validators" *ngIf="form.controls.coste.errors && form.controls.coste.touched">
        <div *ngIf="form.controls.coste.errors?.['required']">Ingrese un coste</div>
      </div>

      <!-- pasajeros -->
      <app-custom-input [control]="form.controls.pasajeros" icon="people-outline" type="text" label="Pasajeros">>
      </app-custom-input>
      <div class="validators" *ngIf="form.controls.pasajeros.errors && form.controls.pasajeros.touched">
        <div *ngIf="form.controls.pasajeros.errors?.['required']">Ingrese la cantidad de pasajeros</div>
      </div>

      <ion-button color="dark" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Agregar Viaje
        <ion-icon class="end" name="add-circle-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger" expand="block" mode="ios" class="ion-margin-top" [routerLink]="['/main/home-c']">
        Volver
        <ion-icon class="end" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>