<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Programar viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
      <form [formGroup]="form" class="auth-form" (ngSubmit)=" submit()" (keypress.enter)="submit()">
          <!-- Patente -->
          <app-custom-input 
            autocomplete="patente" 
            icon="person-outline" 
            [control]="form.controls.patente" 
            type="text" 
            label="Patente">
          </app-custom-input>
          <div class="validators" *ngIf="form.controls.patente.errors && form.controls.patente.touched">
              <div *ngIf="form.controls.patente.errors?.['required']">Ingrese su patente</div>
              <div *ngIf="form.controls.patente.errors?.['minlenght']">La Patente tiene que tener 6 caracteres</div>
              <div *ngIf="form.controls.patente.errors?.['maxLength']">La Patente tiene que tener 6 caracteres</div>
              <div *ngIf="form.controls.patente.errors?.['pattern']">La Patente tiene que tener solo caracteres alfanumericos</div>
          </div>

          <!-- Salida -->
          <app-custom-input 
              autocomplete="salida" 
              icon="mail-outline" 
              [control]="form.controls.salida" 
              type="time"
              min="00:00"
              max="23:59" 
              label="Horario de salida">
          </app-custom-input>
          <div class="validators" *ngIf="form.controls.salida.errors && form.controls.salida.touched">
              <div *ngIf="form.controls.salida.errors?.['required']">Ingrese una hora</div>
          </div>

          <!-- destino -->
          <app-custom-input 
              [control]="form.controls.destino" 
              icon="lock-closed-outline"
              type="text" 
              label="Destino">>
          </app-custom-input>
          <div class="validators" *ngIf="form.controls.destino.errors && form.controls.destino.touched">
              <div *ngIf="form.controls.destino.errors?.['required']">Ingrese un destino</div>
              <div *ngIf="form.controls.destino.errors?.['minlenght']">Ingrese un lugar correcto</div>
              <div *ngIf="form.controls.destino.errors?.['maxLength']">Ingrese un lugar correcto</div>
              <div *ngIf="form.controls.destino.errors?.['pattern']">Solo caracteres alfabeticos</div>

          </div>

           <!-- Coste -->
           <app-custom-input 
           [control]="form.controls.coste" 
           icon="lock-closed-outline"
           type="text" 
           label="Coste">>
          </app-custom-input>
          <div class="validators" *ngIf="form.controls.coste.errors && form.controls.coste.touched">
              <div *ngIf="form.controls.coste.errors?.['required']">Ingrese un coste</div>
              <div *ngIf="form.controls.coste.errors?.['min']">No pueden haber valores inferiores a 0</div>
              <div *ngIf="form.controls.coste.errors?.['max']">Tampoco te pases</div>
              <div *ngIf="form.controls.coste.errors?.['pattern']">Solo numeros</div>
          </div>

          <!-- pasajeros -->
          <app-custom-input 
          [control]="form.controls.pasajeros" 
          icon="lock-closed-outline"
          type="text" 
          label="Pasajeros">>
         </app-custom-input>
         <div class="validators" *ngIf="form.controls.pasajeros.errors && form.controls.pasajeros.touched">
             <div *ngIf="form.controls.pasajeros.errors?.['required']">Ingrese la cantidad de pasajeros</div>
             <div *ngIf="form.controls.pasajeros.errors?.['min']">No pueden haber valores inferiores a 1</div>
             <div *ngIf="form.controls.pasajeros.errors?.['max']">No pueden haber valores mayores a 9</div>
             <div *ngIf="form.controls.pasajeros.errors?.['pattern']">Solo numeros</div>
             
         </div>

          <ion-button color="dark" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
              Registrarse   
              <ion-icon class="end" name="person-add-outline"></ion-icon>
          </ion-button>

          <ion-button color="danger" expand="block" mode="ios" class="ion-margin-top" routerLink="/auth">
            Volver  
            <ion-icon class="end" name="arrow-back-outline"></ion-icon>
          </ion-button>
      </form>
  </div>
</ion-content>